.header {
  margin-bottom: 0;
  background: linear-gradient(41deg, var(--color-purple), var(--color-green));
  min-height: 85px;
  .logo-img img {
    margin: 0;
    width: 100px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    background: linear-gradient(41deg, var(--color-purple), var(--color-green));
    position:relative;
    margin-bottom: 0;
    min-height: 55px !important;
    max-height: 55px !important;
    .logo-img {
      max-height: 55Px;
      img {
        margin: 0;
        width: 45px;
        margin-top: 5px;
      }
    }
  }
}

