<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>
                Conditions Générales Utilisations

            </h1>

            <b>Politique de gestion des cookies </b><br>
            Nous utilisons des cookies persistant afin d'améliorer l'expérience utilisateur.
            Ces cookies sont conservés sur votre ordinateur même après fermeture de votre navigateur et réutilisé lors
            des prochaines visites sur nos sites. Nous utilisons aussi des cookies afin de mieux comprendre comment
            vous interagissez avec nos sites et nos services et afin d'améliorer ces mêmes sites et services.
            Google en tant que vendeur tiers, utilise des cookies pour diffuser de la publicité sur le site.
            L'utilisation par Google de cookies permet de diffuser de la publicité aux internautes sur
            ce site et des sites tiers. <br>Vous pouvez à tout moment désactiver la publicité personnalisée dans <a
                href="https://www.google.com/settings/ads">les paramètres des annonces</a>.
            <br>  Vous pouvez aussi désactiver les cookies d'un fournisseur tiers relatifs à la publicité personnalisée en consultant le site
            <a href="www.aboutads.info">www.aboutads.info</a>.
        </div>
        <div class="col s12 center-align">
            <h5>Démarche pour supprimer les cookies :</h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ij9EkAQzVvM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>