
<div class="page-footer">

  <div class="footer-copyright ">

    <div class="container black-text row">


      <div class="logo col s12">
        <img routerLink="/" src="../../../../assets/images/color-logo.png" alt="logo myquizzy.com myquizzy quizz">

      </div>
      <div class="col l6 s12 right hide-on-med-and-down">

        <a class="right" routerLink="/contact">Contact</a>
        <a class="right" routerLink="/terms">Conditions d'utilisation</a>
        <a class="right" routerLink="/privacy">Politique de confidentialité</a>
      </div>
      <div class="col l6 s12 hide-on-large-only center" >
        <a routerLink="/contact" class="left-align">Contact</a>
        <a routerLink="/terms" class="left-align">Conditions d'utilisation</a>
        <a routerLink="/privacy" class="left-align">Politique de confidentialité</a>
      </div>
      <div class="col l6 s12 left hide-on-med-and-down">
        © 2019 Copyright myquizzy.com
        <a href="https://www.facebook.com/MyQuizzycom-100269791448396/" target="_blank">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>

        <a href="https://twitter.com/My_Quizzy" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </div>

      <div class="col l6 s12 center-align hide-on-large-only">
        © 2019 Copyright myquizzy.com
        <a href="https://www.facebook.com/MyQuizzycom-100269791448396/" target="_blank">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
        <a href="https://twitter.com/My_Quizzy" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </div>

    </div>
  </div>
</div>

<cookie-law learnMore="/privacy" target="_self">
  Ce site utilise des cookies pour vous garantir la meilleure expérience sur notre site.
  <a href="/privacy" target="_blank"> Voir +</a>
</cookie-law>
