.page-footer {
  background-color: white !important;
  color:black ;
  padding-top:0px;
}

.logo  {
  height: 48px;
  img {
    width: 48px;
  }
}

.footer-copyright {
  background-color: white !important;
  a {
    margin-left:8px;
    color:black;
  }
  a:hover {

    background: -webkit-linear-gradient(256deg, var(--color-purple), var(--color-green));
    background-size: 400% 400%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: headerGradient 10s infinite linear;
  }
}
.flag {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209282/flags.png");
  background-position: -4px -129px;
  display: inline-block;
  height: 17px;
  width: 26px;
}

a {
  fa-icon {
    font-size: 18px;

  }
}

.flag-FR {
  background-position: -37px -297px;
}
.flag-US {
  background-position: -4px -1011px;
}