nav {
  background: transparent;

  li {
    a {

    }
  }

  .nav-wrapper {
    padding-right: 10px;
    a {
      background: -webkit-linear-gradient(256deg, #863bf2, #03da7d);
      background-size: 100% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: AnimationName 10s infinite linear;
      cursor: pointer;
    }

    .user {
      font-size: 18px;
      padding: 0 15px;

      img {
        float: left;
        margin: 15px 8px 0 -12px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
  }
}

.sidenav-trigger {
  cursor: pointer;
}

.header-nav {
  color: white;
  text-align:center;
  height: 85px;
}

.sidenav {
  a {
    background: -webkit-linear-gradient(256deg, #863bf2, #03da7d);
    background-size: 60% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 10s infinite linear;
  }
}

.text-purple {
  color: #863bf2;
  font-weight: 900;
  border-bottom: 2px solid #863bf2;
}

.bottom-nav-menu {
  padding: 0px 1em;
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align:center;
}

#nav-mobile a:hover {
  border-bottom: 2px solid #03da7d;
}

.disconnect-button {
  border-left: 1px solid #863bf2;
  padding-left: 10px;
}
