<nav>
  <div class="nav-wrapper">
    <a href="#" class="user right" *ngIf="currentUser"><img src="https://materializecss.com/images/yuna.jpg" alt="img">{{currentUser.username}}</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a [routerLink]="['/discover']">Découverte</a></li>
      <li><a [routerLink]="['/createQuizz']">Créer un quizz</a></li>
      <li><a [routerLink]="['/myQuizz']">Mes quizz</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li class="header-nav background-gradient">
    <div class="row">
      <div class="col s12 logo">
        ?
      </div>
    </div>
    </li>
  <li><a [routerLink]="['/discover']">Découverte</a></li>
  <li><a [routerLink]="['/createQuizz']">Créer un quizz</a></li>
  <li><a [routerLink]="['/myQuizz']">Mes quizz</a></li>
</ul>
