<nav *ngIf="currentUser">
  <div class="nav-wrapper">
    <a class="right hide-on-med-and-down" (click)="disconnect()"><i class="material-icons disconnect-button">
      exit_to_app
    </i></a>
    <a class="user right" [routerLink]="['/profil/' + currentUser._id]">
      <img src="{{getAvatar(currentUser._id)}}" alt="img {{currentUser.username}}">
      {{currentUser.username}}
    </a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a [ngClass]="{'text-purple': currentRoute=='discover'}" [routerLink]="['/discover']">Découverte</a></li>
      <li><a [ngClass]="{'text-purple': currentRoute=='createQuizz'}"  [routerLink]="['/createQuizz']">Créer un quizz</a></li>
      <li><a [ngClass]="{'text-purple': currentRoute=='allQuizz/:id'}" [routerLink]="['/allQuizz/'+currentUser._id]">Mes quizz</a></li>
      <li *ngIf="currentUser.role == 'admin'"><a href="{{environment.admin}}">Administration</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li class="header-nav background-gradient-fixed">
    <div class="row">
      <div class="col s12 logo-top">
        <img routerLink="/"  src="../../assets/images/white-logo.png" alt="logo myquizzy.com myquizzy quizz">
      </div>
    </div>
    </li>
  <li><a class="sidenav-close" [ngClass]="{'text-purple': currentRoute=='discover'}" [routerLink]="['/discover']">Découverte</a></li>
  <li><a class="sidenav-close" [ngClass]="{'text-purple': currentRoute=='createQuizz'}"  [routerLink]="['/createQuizz']">Créer un quizz</a></li>
  <li><a class="sidenav-close" [ngClass]="{'text-purple': currentRoute=='allQuizz/:id'}" [routerLink]="['/allQuizz/'+currentUser?._id]">Mes quizz</a></li>
  <li *ngIf="currentUser.role == 'admin'"><a href="{{environment.admin}}">Administration</a></li>
  <li>
    <a (click)="disconnect()">Deconnexion</a>
  </li>
  <li class="grey-text lighten-4 bottom-nav-menu logo">
    <img routerLink="/"  src="../../assets/images/color-logo.png" alt="logo myquizzy.com myquizzy quizz">
  </li>
</ul>
