
<div class="container" *ngIf="quizzs">
    <div class="row">

        <div class="col s12 l4 user z-depth-3">
            <div class="title-page">{{user.username}}</div>
            <div class="col s2">
                <img class="circle" src="{{getAvatar(user.user_id)}}" alt="img {{user.username}}">
            </div>

            <div class="col s10">
                <p>
                    <span *ngIf="quizzs?.length > 0">- {{quizzs.length}} {{"profile.quizzcreated" | translate}}</span>
                    <span *ngIf="quizzs?.length < 1">- {{"profile.noquizz" | translate}}</span><br>
                    <span *ngIf="answers?.length > 0">- {{"profile.answercreated" | translate:({nbr: answers.length})}}</span>
                    <span *ngIf="answers?.length < 1">- {{"profile.noquizz" | translate}}</span><br>
                </p>

            </div>
            <div class="col s12">
                <div class="copy-profil">
                    <input class="col s7" type="text" value="{{shortUrl + user.username}}" disabled>
                    <button class="btn purple-border col s5" (click)="copyUrl(shortUrl + user.username)">{{"profile.copy" | translate}}</button>

                </div>
            </div>
        </div>
        <div class="col s12 l8 nopadding" *ngIf="!myProfil">
            <div class="title-page" >Quizz</div>

            <ul class="collection" *ngIf="quizzs.length > 0">
                <app-single-quizz-list *ngFor="let quizz of quizzs; let i = index" [quizz]="quizz" [index]="i"></app-single-quizz-list>
            </ul>
            <div class="empty" *ngIf="quizzs.length < 1">
                {{user.username}} {{"profile.nocreated" | translate}} <br>
                <i class="material-icons">
                    error_outline
                </i>
            </div>
        </div>

        <div class="col s12 l8 nopadding" *ngIf="myProfil">
            <div class="col s12 nopadding">
                <materialize-tab-group>
                      <materialize-tab title="Quizz">
                    <ul class="collection" *ngIf="quizzs.length > 0">
                        <app-single-quizz-list *ngFor="let quizz of quizzs; let i = index" [quizz]="quizz" [index]="i"></app-single-quizz-list>
                    </ul>
                    <div class="empty col s12" *ngIf="quizzs.length < 1">
                        {{"profile.menotcreated" | translate}} <br>
                        <i class="material-icons">
                            error_outline
                        </i>

                    </div>

                    <button *ngIf="quizzs.length < 1" class="btn green-button col s8 offset-s2 l4 offset-l4" [routerLink]="['/quizz/create']">{{"profile.createfirst" | translate}}</button>

                </materialize-tab>
                      <materialize-tab title="{{'quizz.answers' | translate}}">

                    <ul class="collection" *ngIf="answers.length > 0">
                        <li class="collection-item avatar" *ngFor="let answer of answers">
                            <img src="{{getAvatar(answer.avatar)}}" alt="img" class="circle" [routerLink]="['/profile/', answer.avatar]">
                            <div [routerLink]="['/quizz/'+answer.quizz_id]">
                                <div class="title col s11">{{answer.title}} </div>
                                <div class="col s11 result">Ton score : {{returnResult(answer)}}%</div>

                            </div>
                            <div>
                                <a [routerLink]="['/answer/'+answer.quizz_id]" class="secondary-content col s1"><i class="material-icons right">
                                    chevron_right
                                </i></a>
                            </div>
                        </li>
                    </ul>
                    <div class="empty col s12" *ngIf="answers.length < 1">
                        {{"profile.menotanswer" | translate}}<br>
                        <i class="material-icons">
                            error_outline
                        </i>
                    </div>
                    <button *ngIf="answers.length < 1" class="btn green-button col s8 offset-s2 l4 offset-l4" [routerLink]="['/quizz/discover']">{{"profile.godiscover" | translate}}</button>

                </materialize-tab>
                    <materialize-tab title="{{'profile.settings' | translate }}">

                        <div class="col s12">
                            <div class="row">
                                <div class="col s12">{{"profile.mail" | translate}}</div>
                                <div class="input-field col s12">
                                    <input placeholder="{{currentUser.email}}" id="email" type="email" class="validate" [(ngModel)]="acc.newEmail">
                                    <label for="email">{{"profile.mail" | translate}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12">{{"profile.password" | translate}}</div>
                                <div class="input-field col s6">
                                    <input id="password" type="password" class="validate" [(ngModel)]="acc.password">
                                    <label for="password">{{"profile.password" | translate}}</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="password2" type="password" class="validate" [(ngModel)]="acc.password2">
                                    <label for="password2">{{"profile.repassword" | translate}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12">{{"profile.avatar" | translate}}</div>
                                <div class="file-field input-field col s12">
                                    <button class="btn purple-border">
                                        <span>{{"profile.file" | translate}}</span>
                                        <input type="file" (change)="uploadAvatar($event)" accept="image/*">
                                    </button>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" >
                                    </div>
                                </div>
                                <div class="image-preview mb-3 col s12" *ngIf="previewUrl">
                                    <img [src]="previewUrl" height="300" />
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <button class="btn purple-border col s12" (click)="updateProfil()">{{"profile.update" | translate}}</button>
                        </div>
                    </materialize-tab>
                </materialize-tab-group>
            </div>
        </div>

    </div>
</div>

<ng-container *ngIf="!user && notExist">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="empty" >
                    {{"profile.usernoexist" | translate}} <br>
                    <i class="material-icons">
                        error_outline
                    </i>
                </div>
            </div>
        </div>
    </div>
</ng-container>
