.create-quizz {
  padding: 0em 1em;
  input {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #9851f4;
    color:white;
    font-weight: 600;
  }
  input:focus {
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 1px 0 0 #9851f4;
    color:white;
    font-weight: 900;
  }
  label {
    color:white;
    font-size: 20px;
  }

  .questions {
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    hr {
      width: 33%;
      height: 1px;
      background: white;
      box-sizing: unset;
      overflow: auto;
    }
    .delete-question {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
  .answer-right {
    margin: 1em 0em;
  }
  .answers {
    margin-bottom:0em;
    padding-left: 1em;
    h2 {
      font-size: 18px;
      color:white;
    }
    .answer {
      height: 5em;
      .white-button {
        margin: 1em 0em;
      }
    }
    .true-answer {
      input {
        border-bottom: 1px solid #00ff00;
        box-shadow: 0 1px 0 0 #464646;
      }
    }

    .false-answer {
      input {
        border-bottom: 1px solid #ff0020;
        box-shadow: 0 1px 0 0 #464646;
      }
    }
  }

  .question {
    margin: 3em 0em 2em 0em;

  }


  .add-question {
    margin-top: 2em;
  }



  .large-answer {
    padding: 1em 0em;
  }


}
