
<div class="container " *ngIf="quizz && !alreadyAnswer && !myQuizz && exist && isConnected">

  <div class="row">
    <div class="col s12 l4 user z-depth-3">
      <div class="col s2">
        <img class="circle" src="{{getAvatar(quizz.user_id)}}" alt="img {{quizz.username}}">
      </div>

      <div class="col s10">
        <p>- Ce Quizz a été crée par {{quizz.username}} <br>
          - Ce quizz contient {{quizz.questions.length}} questions <br>
          - <span *ngIf="quizz.answer_count < 1">Tu es le premier a participer à ce quizz</span>
          <span *ngIf="quizz.answer_count > 0">{{quizz.answer_count}} personnes ont participés à ce quizz</span>
        </p>

      </div>
      <button class="btn purple-border right col s12" (click)="reportQuizz()" [disabled]="report">Signaler le quizz
      </button>
    </div>

    <div class="col s12 l8 offset-l1 answer-quizz z-depth-3">
      <div class="title-answer">{{quizz.title}}</div>
      <ng-container  *ngFor="let q of quizz.questions, let i = index;">
        <div class="row question z-depth-3" *ngIf="nbrQ == i" >
          <div class="title-question col s12 ">{{q.name}} </div>

          <div class="row answers" >
            <h2>Choisis une réponse :</h2>
            <!-- <div class="col s12 answer {{choice.rep ? 'true-answer': 'false-answer'}}" *ngFor="let choice of q.choices; let j = index">
               <div class="col s8 answer-name">
                 {{choice.name}}
               </div>
               <div class="col s2 large-answer">
                 <p class="answer-right">
                   <label>
                     <input (click)="uncheckAll(i, j)" type="checkbox" class="filled-in" />
                     <span></span>
                   </label>
                 </p>
               </div>
             </div>-->
            <p *ngFor="let choice of q.choices; let j = index">
              <label>
                <input name="group{{i}}" type="radio" (click)="setAnswer(choice, q)" />
                <span>{{choice.name}}</span>
              </label>
            </p>
          </div>
        </div>
      </ng-container>
      <div class="row answer-end">
        <div class="col s12">
          <button (click)="previewQ()" class="white-button left btn" *ngIf="nbrQ > 0">Précédent</button>
          <button (click)="nextQ()" class="white-button right btn" *ngIf="nbrQ < quizz.questions.length -1">Suivant</button>
          <button (click)="validateAnswer()" class="white-button right btn" *ngIf="nbrQ == quizz.questions.length -1">Valider</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row container" *ngIf="alreadyAnswer && !myQuizz && exist">
  <div class="title-page">{{quizz.title}}</div>

  <div class="col s12  user z-depth-3">
    <div class="col s2">
      <img class="circle" src="{{getAvatar(quizz.user_id)}}" alt="img {{quizz.username}}">
    </div>

    <div class="col s10">
      <p>- Ce Quizz a été crée par {{quizz.username}} <br>
        - Ce quizz contient {{answer.questions.length}} questions <br>
        - <span *ngIf="quizz.answer_count == 1">Tu es le premier à avoir participer à ce quizz</span>
        <span *ngIf="quizz.answer_count > 1">{{quizz.answer_count}} personnes ont participés à ce quizz</span>
      </p>
      <share-buttons class="right" [theme]="'default'"
                     [include]="['facebook','twitter','messenger','whatsapp','sms', 'copy']"
                     [show]="6"
                     [size]="4"
                     [url]="'https://myquizzy.com/quizz/'+ quizz._id"
                     [title]="'Mon quizz : '+ quizz.title"
                     [description]="'Essaye de répondre au mieux à mon quizz'"
                     [autoSetMeta]="false">

      </share-buttons>
    </div>

  </div>

  <div  class="already col s8">
    {{finalString}}<br>
    <span>
    {{result}} %
  </span>
  </div>
  <div class="col s4 answer-quizz sidebar-answer z-depth-3">
    <div class="title-page">Les résultats</div>
    <ul class="collection allanswers" *ngIf="allAnswer.length > 0">
      <li class="collection-item avatar" *ngFor="let answer of allAnswer">
        <img src="{{getAvatar(answer.user_id)}}" alt="img avatar {{answer.username}}" class="circle">
        <span class="title">{{answer.username}}</span>
        <p> Score de {{returnResult(answer)}}%<br>
        </p>
      </li>
    </ul>
    <div class="empty" *ngIf="allAnswer.length < 1">
      Personne n'a encore participer au quizz <br>
      <i class="material-icons">
        error_outline
      </i>
    </div>
  </div>
</div>


<div class="container my-quizz" *ngIf="myQuizz && allAnswer && exist">
  <div class="row">
    <div class="col s5">
    <div class="title-page">les résultats</div>
    <ul class="collection allanswers" *ngIf="allAnswer.length > 0">
      <li class="collection-item avatar" *ngFor="let answer of allAnswer">
        <img src="{{getAvatar(answer.user_id)}}" alt="img avatar {{answer.username}}" class="circle">
        <span class="title">{{answer.username}}</span>
        <p> Score de {{returnResult(answer)}}%<br>
        </p>
      </li>
    </ul>
    <div class="empty" *ngIf="allAnswer.length < 1">
      Personne n'a encore participer au quizz <br>
      <i class="material-icons">
        error_outline
      </i>
    </div>
    </div>
    <div class="col s7">
      <div class="title-page">{{quizz.title}}</div>
      <ul class="collection">
        <li class="collection-item" *ngFor="let q of quizz.questions">
          <span class="title">{{q.name}} -></span>
          <ng-container *ngFor="let a of q.choices">
            <span class="text-green" *ngIf="a.rep == true"> {{a.name}}</span>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="empty" *ngIf="!exist">
  Ce quizz n'existe pas ou a été supprimé <br>
  <i class="material-icons">
    error_outline
  </i>
</div>

<div class="container " *ngIf="quizz && exist && !isConnected && !alreadyAnswer">

  <div class="row">
    <div class="col s12 l4 user z-depth-3">
      <div class="col s2">
        <img class="circle" src="{{getAvatar(quizz.user_id)}}" alt="img {{quizz.username}}">
      </div>

      <div class="col s10">
        <p>- Ce Quizz a été crée par {{quizz.username}} <br>
          - Ce quizz contient {{quizz.questions.length}} questions <br>
          - <span *ngIf="quizz.answer_count < 1">Tu es le premier a participer à ce quizz</span>
          <span *ngIf="quizz.answer_count > 0">{{quizz.answer_count}} personnes ont participés à ce quizz</span>
        </p>

      </div>
    </div>

    <div class="col s12 l8 offset-l1 answer-quizz z-depth-3">
      <div class="title-answer">{{quizz.title}}</div>
      <div class="row question z-depth-3" *ngIf="nbrQ == quizz.questions.length">
        <div class="col s12">
          <div class="title-question col s12 ">Rentre un pseudo </div>

          <input type="text" placeholder="Pseudo" maxlength="16" [(ngModel)]="username">
        </div>
      </div>
      <ng-container  *ngFor="let q of quizz.questions, let i = index;">
        <div class="row question z-depth-3" *ngIf="nbrQ == i" >
          <div class="title-question col s12 ">{{q.name}} </div>

          <div class="row answers" >
            <h2>Choisis une réponse :</h2>
            <p *ngFor="let choice of q.choices; let j = index">
              <label>
                <input name="group{{i}}" type="radio" (click)="setAnswer(choice, q)"  [checked]="answer?.questions[i]?.answer?.name == choice.name" />
                <span>{{choice.name}}</span>
              </label>
            </p>
          </div>
        </div>
      </ng-container>
      <div class="row answer-end">
        <div class="col s12">
          <button (click)="previewQ()" class="white-button left btn" *ngIf="nbrQ > 0">Précédent</button>
          <button (click)="nextQ()" class="white-button right btn" *ngIf="nbrQ < quizz.questions.length">Suivant</button>
          <button (click)="validateAnswer()" class="white-button right btn" *ngIf="nbrQ == quizz.questions.length">Valider</button>
        </div>
      </div>

    </div>

    <div class="col s12 l8 offset-l4 answer-quizz z-depth-3">
      <ul class="collection" *ngIf="allAnswer.length > 0">
        <div class="title-page">Les résultats</div>
        <li class="collection-item avatar" *ngFor="let answer of allAnswer">
          <img src="{{getAvatar(answer.user_id)}}" alt="img avatar {{answer.username}}" class="circle">
          <span class="title">{{answer.username}}</span>
          <p> Score de {{returnResult(answer)}}%<br>
          </p>
        </li>
      </ul>
      <div class="empty" *ngIf="allAnswer.length < 1">
        Personne n'a encore participer au quizz <br>
        <i class="material-icons">
          error_outline
        </i>
      </div>
    </div>
  </div>
</div>
