
.user {
  margin-bottom: 1em;
  padding: 1em;
  img {
    margin-top: 20px;
    width: 48px;
    height: 48px;
  }
}

.answer-quizz {
  padding: 0em;
  margin-bottom: 2em;
  .title-answer {
    font-size: 14px;
    background: var(--color-purple);
    margin: 0;
    padding: 1em;
    color:white;
  }

  .question {
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 1em 1em;
  }

  .title-question {
    font-size: 14px;
    margin: 0;
    padding: 1em;
    color: black;
  }
  .answer-end {
    margin: 0;
    background: var(--color-green);
    padding-top: 1em;
  }

  .answers {
    margin-bottom:0em;
    padding-left: 1em;

    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
      background-color: var(--color-purple);
    }
    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
      border: 2px solid var(--color-purple);
    }
    h2 {
      font-size: 18px;
      color:black;
    }
    .answer {
      height: 5em;
      .white-button {
        margin: 1em 0em;
      }
      .answer-name {
        border-bottom: 1px solid var(--color-purple);
      }
    }
    .true-answer {
      input {
        border-bottom: 1px solid #00ff00;
        box-shadow: 0 1px 0 0 #464646;
      }
    }

    .false-answer {
      input {
        border-bottom: 1px solid #ff0020;
        box-shadow: 0 1px 0 0 #464646;
      }
    }

  }
}





.already {
  color: #00000038;
  margin-top: 3em;
  text-align: center;
  font-size: 24px;
  span {
    font-size: 6em;
  }
}

.empty {
  color: #00000038;
  margin-top: 3em;
  text-align: center;
  font-size: 24px;
  i {
    font-size: 6em;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.offset-l1 { margin-left: 2.333333%; }
}

@media only screen and (min-width: 993px) {
  .row .col.l4 { width: 30.9%; margin-left: auto; left: auto; right: auto; }
}

.collection {
  margin-top: 0;
}


.sidebar-answer, .my-quizz {
  .allanswers {
    height: 31em;
    overflow: scroll;
  }
}
