nav {
  background: -webkit-linear-gradient(256deg, var(--color-purple), var(--color-green));
  margin-bottom: 10px;

  li {
    a {

    }
  }

  .nav-wrapper {
    padding-right: 10px;
    a {
     color: white
    }

    .user {
      font-size: 15px;
      padding: 0px 5px;

      img {
        float: left;
        margin: 10px 8px 0 -12px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }

  .logo-nav {
    width: 50px;
    margin: 0 auto;
    img {
      width: 50px;
      height: 50px;
      margin-top: 5px;
    }
  }
}

.sidenav-trigger {
  cursor: pointer;
  .material-icons {
    font-size: 41Px;
  }
}

.header-nav {
  color: white;
  text-align:center;
  height: 132px;
}

.sidenav {
  a {
    background: -webkit-linear-gradient(256deg, var(--color-purple), var(--color-green));
    background-size: 60% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text-purple {
  color: var(--color-purple);
  font-weight: 900;
  border-bottom: 2px solid  var(--color-purple);
}

.bottom-nav-menu {
  padding: 0px 1em;
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align:center;
}

#nav-mobile a:hover {
  border-bottom: 2px solid var(--color-green);
}

.disconnect-button {
  border-left: 1px solid  var(--color-purple);
  padding-left: 10px;
}

.logo {
  img {
    width: 48px;

  }
}

.logo-top {
  img {
    margin-top:2em;
    width: 80px;
  }
}
