.user {
  margin-bottom: 1em;
  padding:0;
  img {
    margin-top: 20px;
    width: 48px;
    height: 48px;
  }
}

.empty {
  color: #00000038;
  margin-top: 1em;
  text-align: center;
  font-size: 24px;
  i {
    font-size: 6em;
  }
}