
<li class="collection-item avatar" *ngIf="index == 2">
  <div class="adsbygoogle"></div>
</li>
<li class="collection-item avatar">
  <img src="{{getAvatar(quizz.user_id)}}" alt="img {{quizz.username}}" class="circle" [routerLink]="['/profile/'+quizz.user_id]">
  <div [routerLink]="['/quizz/'+quizz._id]">
    <div class="title col s11"><b>{{quizz.username}}</b> {{quizz.title}} </div> <div *ngIf="quizz.private" class="red-text right col s1"><i class="material-icons lock">
    lock
  </i></div>
    <div class="col s11">{{ "quizz.quizzcontain" | translate:({nbr:  quizz.questions.length}) }}<span *ngIf="quizz.questions.length > 1"></span><br>
      <span  *ngIf="quizz.answer_count > 1">{{ "quizz.answersplay" | translate:({nbr:  quizz.answer_count}) }}</span>
      <span  *ngIf="quizz.answer_count == 1">{{ "quizz.oneanswer" | translate }}</span>
      <span  *ngIf="quizz.answer_count < 1">{{ "quizz.firstanswer" | translate}}</span>
    </div>
    <a [routerLink]="['/quizz/'+quizz._id]" class="secondary-content col s1"><i class="material-icons right">
      chevron_right
    </i></a>
  </div>
</li>
