.collection {
  margin-top: 0;
}

button i {
  color: white;
  font-size: 27px;

}

button {
  color: white;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  text-transform: none;
  margin-right: 4px;
  box-shadow: none;
  border-radius: 0px;
}

.buttons button:first-of-type {
  border-right: 1px solid white;
}
.title-page {
  overflow: hidden;
  padding: 7px 15px;
  font-size: 20px;
}