
.collection {
  margin-top: 0;
}

button fa-icon {
  color: white;
  font-size: 27px;

}

button {
  color: white;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  text-transform: none;
  margin-right: 4px;
  box-shadow: none;
  border-radius: 0px;
}

button:focus {
  background: white;
  fa-icon {
    color: var(--color-purple);
  }
}

button:hover {
  color: var(--color-purple);
  background: white;
  svg {
    color: var(--color-purple);
  }
}

.buttons button:first-of-type {
  border-right: 1px solid white;
}
.title-page {
  overflow: hidden;
 /* padding: 7px 15px;
  font-size: 20px;*/
}

.already {
  color: #00000038;
  margin-top: 3em;
  text-align: center;
  font-size: 24px;
  span {
    font-size: 5em;
  }
}

.empty {
  color: #00000038;
  margin-top: 1em;
  text-align: center;
  font-size: 24px;
  i {
    font-size: 6em;
  }
}

materialize-collapsible-title {
  img {
    width: 30px;
    margin-right: 1em;
  }
}
