<div class="container">
    <h1>
        Conditions Générales Utilisations

    </h1>

    <b>Politique de gestion des cookies </b><br>
    Nous utilisons des cookies persistant afin d'améliorer l'expérience utilisateur.
    Ces cookies sont conservés sur votre ordinateur même après fermeture de votre navigateur et
    réutilisé lors des prochaines visites sur Deserv.me. Nous utilisons aussi des cookies afin d'améliorer
    votre navigation au sein de Deserv.me. Google en tant que vendeur tiers, utilise des cookies pour diffuser de la
    publicité sur le site. L'utilisation par Google de cookies DART permet de diffuser de la publicité aux
    internautes sur ce site et des sites tiers. Les utilisateurs peuvent se désengager de ce procédé en se
    rendant <a href="https://policies.google.com/technologies/ads?hl=fr">sur ce site</a>.


</div>