
    <li class="collection-item avatar" [routerLink]="['/quizz/'+quizz._id]">
      <img src="https://avatars.io/{{quizz.avatar_type}}/{{quizz.avatar}}" alt="" class="circle">
      <span class="title">{{quizz.title}}</span>
      <p>Le quizz contient {{quizz.questions.length}} questions<br>
        <span  *ngIf="quizz.answer_count > 0">{{quizz.answer_count}} personnes qui ont participé à ce quizz</span>
        <span  *ngIf="quizz.answer_count < 1">Soit le premier à participer à ce quizz</span>
      </p>
      <a [routerLink]="['/quizz/'+quizz._id]" class="secondary-content"><i class="material-icons">
        chevron_right
      </i></a>
    </li>
