.title {
  font-size: 16px;
  font-weight: 900;
}

.collection-item{
  p {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

}

.secondary-content {
  top: 24px !important;
  i {
    color: #863bf2;
    font-size:40px;
  }
}
