<div class="container">
    <div class="row create-quizz">
        <div class="row title-quizz">
            <div class="col s12">
                <input type="text" id="title" name="title" placeholder="Titre du quizz" maxlength="50" [(ngModel)]="quizz.title">
                <br>
                <label>
                    <input type="checkbox" class="filled-in" (click)="checkPrivate()" (change)="quizz.private = !quizz.private"  />
                    <span>Quizz Privé (Uniquement accessible via l'url)</span>
                </label>
                <br>

                <label>
                    <input type="checkbox" class="filled-in" (change)="quizz.close = !quizz.close"  />
                    <span>Quizz Fermé (Seuls les inscrits peuvent répondre)</span>
                </label>
            </div>
        </div>
        <div class="questions row z-depth-3" *ngFor="let question of quizz.questions; let i = index;">
            <button class="purple-border right delete-question" (click)="deleteQuestion(i)">X</button>
            <div class="row question">
                <div class="col s11">
                    <input type="text" id="question" name="question" placeholder="Question n°{{i+1}}" maxlength="90" [(ngModel)]="question.name">
                </div>
            </div>
            <div class="row answers" >
                <div class="col s12">
                    <h2>Les réponses (2 à 4)</h2>
                    <div class="col s12 answer {{choice.rep ? 'true-answer': 'false-answer'}}" *ngFor="let choice of question.choices; let j = index">

                        <div class="col large-answer">
                            <button class="purple-border " (click)="deleteAnswer(i, j)">X</button>
                        </div>
                        <div class="col s8 l9 ">
                            <input type="text" id="answer" name="answer" placeholder="réponse {{j+1}}" maxlength="90" [(ngModel)]="choice.name">
                        </div>
                        <div class="col s2 large-answer">
                            <p class="answer-right">
                                <label>
                                    <input (click)="uncheckAll(i, j)" type="checkbox" class="filled-in" [checked]="choice.rep" [(ngModel)]="choice.rep"/>
                                    <span>{{choice.rep ? 'Vrai': 'Faux'}}</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l8 add-answer">
                <button class="green-border btn col s12" *ngIf="question.choices.length < 4" (click)="addAnswer(i)">Ajouter une réponse </button>
            </div>
        </div>
        <div class="row create-quizz create-end">
            <div class="col s12">
                <button class="white-button left btn" (click)="addQuestion()" *ngIf="quizz.questions.length < 20"> Ajouter une question </button>

                <button class="white-button right btn" (click)="createQuizz()">Créer mon quizz</button>
            </div>
        </div>
    </div>

</div>