/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.logo {
  color: white;
  font-weight: 900;
  font-size: 43px;
  text-align: center;
  margin-bottom: 1em;
}

// white button
button.white-button {
  color: white;
  font-weight: 700;
  background: transparent;
  border: 2px solid white;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor:pointer;
  text-transform: none;
}

.white-button:hover {
  background: #9851f4 !important;
}

.white-button:focus {
  background: transparent;
}


// purple button
button.purple-button {
  background: #9851f4;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor:pointer;
  text-transform: none;
}

button.purple-button:hover {
  background: transparent;
  color: #9851f4;
  border-color: #9851f4;
}

button.purple-button:focus {
  background: #9851f4;
  color: white;
  border-color: white;
}



button.purple-border {
  background: transparent;
  color: #9851f4;
  font-weight: 700;
  border: 2px solid #9851f4;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor:pointer;
  text-transform: none;
}


button.purple-border:hover {
  background: #9851f4;
  color: white;
  border-color: white;
}


button.purple-border:focus {
  background: transparent;
  color: #9851f4;
  border-color: #9851f4;
}



// green button
button.green-button {
  background: #03da7d;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor:pointer;
  text-transform: none;
}

button.green-button:hover {
  background: transparent;
  color: #03da7d;
  border-color: #03da7d;
}

button.green-button:focus {
  background: #03da7d;
  color: white;
  border-color: white;
}

button.green-border {
  background: transparent;
  color: #03da7d;
  font-weight: 700;
  border: 2px solid #03da7d;
  margin-bottom: 1em;
  border-radius: 10px;
  cursor:pointer;
  text-transform: none;
}


button.green-border:hover {
  background: #03da7d;
  color: white;
  border-color: white;
}


button.green-border:focus {
  background: transparent;
  color: #03da7d;
  border-color: #03da7d;
}


.white-button:disabled {
  border: #ccc 1px solid;
  background: transparent !important;
  color: #ccc;
  cursor: initial;
}

.title-page {
  color: white;
  background: #8442ef;
  margin-bottom: 0px;
  padding: 15px;
}

.background-gradient {
  background: linear-gradient(41deg, #863bf2, #03da7d);
  background-size: 400% 400%;

  -webkit-animation: headerGradient 8s ease infinite;
  -moz-animation: headerGradient 8s ease infinite;
  animation: headerGradient 8s ease infinite;

  @-webkit-keyframes headerGradient {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
  }
  @-moz-keyframes headerGradient {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
  }
  @keyframes headerGradient {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
  }

}

.background-gradient-invert {
  background: linear-gradient(41deg, #03da7d, #863bf2);
  background-size: 400% 400%;

  -webkit-animation: headerGradient 8s ease infinite;
  -moz-animation: headerGradient 8s ease infinite;
  animation: headerGradient 8s ease infinite;

  @-webkit-keyframes headerGradient {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
  }
  @-moz-keyframes headerGradient {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
  }
  @keyframes headerGradient {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
  }

}


@media screen and (max-width: 992px){
  .container {
    width: 100% !important;
  }

}


// regular style toast
@import '~ngx-toastr/toastr';


@import '~@ngx-share/button/themes/default/default-theme';
