<app-header>

  <div class="header-home" style="    background: linear-gradient(41deg, var(--color-purple), var(--color-green));">
    <div class="col s12 l4 offset-l4 center-align">

      <button class="white-button col l5 s12" (click)="openModal()">Connexion</button>
      <div class="col l2"></div>
      <button class="white-button col l5 s12" (click)="openModal()" id="register"><span>Inscription</span></button>
    </div>

    <div class="header-text col s12">
      Crée, participe et partage tes quizz avec tes amis<br>
      Tout est gratuit il te suffit de créer un compte.
    </div>

    <div class="main row">
      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home1.png">
          <span class="card-title">Crée ton profil</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">1</a>
        </div>
      </div>

      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home2.png">
          <span class="card-title">Crée ton Quizz</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">2</a>
        </div>
      </div>

      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home3.png">
          <span class="card-title">Partage ton Quizz</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">3</a>
        </div>
      </div>

      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home4.png">
          <span class="card-title">Regarde les résultats</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">4</a>
        </div>
      </div>
    </div>
  </div>

</app-header>


<div class="overlay" (click)="closeModal()" *ngIf="modal"></div>

<div class="modal-connexion modal" *ngIf="modal">
  <div class="modal-content">
    <h4>Connexion</h4>
    <p>Tu peux te connecter ou créer un compte via facebook ou twitter puis compléter ton profil par la suite.
      <br> Sache que nous ne posterons jamais sans ta permission !</p>
    <p class="center-align hide-on-med-and-down">
      <a href="{{environment.baseUrl}}auth/facebook">
        <button class="loginBtn loginBtn--facebook">
          Connexion via Facebook
        </button>
      </a>
      <a href="{{environment.baseUrl}}auth/twitter">
        <button class="loginBtn loginBtn--twitter">
          Connexion via Twitter
        </button>
      </a>
    <!--  <a href="{{environment.baseUrl}}auth/instagram">
        <button class="loginBtn loginBtn&#45;&#45;instagram">
          Connexion via Instagram
        </button>
      </a>-->
    </p>
    <p class="center-align hide-on-large-only">
      <a href="{{environment.baseUrl}}auth/facebook">
        <button class="loginBtn loginBtn--facebook">
          via Facebook
        </button>
      </a>
      <a href="{{environment.baseUrl}}auth/twitter">
        <button class="loginBtn loginBtn--twitter">
          via Twitter
        </button>
      </a>

    <!--  <a href="{{environment.baseUrl}}auth/instagram">
        <button class="loginBtn loginBtn&#45;&#45;instagram">
          via Instagram
        </button>
      </a>-->
    </p>
    <p class="center-align">
      En t'inscrivant tu acceptes les <a [routerLink]="'/terms'">conditions d'utilisation</a> et la <a [routerLink]="'/privacy'">politique de confidentialité</a>
    </p>
  </div>
</div>

