<app-header>

  <div class="header-home" style="    background: linear-gradient(41deg, var(--color-purple), var(--color-green));">
    <div class="col s12 l4 offset-l4 center-align">

      <button class="white-button col l5 s12" (click)="openModal()">Connexion</button>
      <div class="col l2"></div>
      <button class="white-button col l5 s12" (click)="openModal()" id="register"><span>Inscription</span></button>
    </div>

    <div class="header-text col s12">
      Crée, participe et partage tes quizz avec tes amis<br>
      Tout est gratuit il te suffit de créer un compte.
    </div>

    <div class="main row">
      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home1.png" alt="myquizzy myquizzy.com quizz">
          <span class="card-title">Crée ton profil</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">1</a>
        </div>
      </div>

      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home2.png" alt="myquizzy myquizzy.com quizz">
          <span class="card-title">Crée ton Quizz</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">2</a>
        </div>
      </div>

      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home3.png" alt="myquizzy myquizzy.com quizz">
          <span class="card-title">Partage ton Quizz</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">3</a>
        </div>
      </div>

      <div class="card col s12 l3">
        <div class="card-image">
          <img src="../assets/images/home4.png" alt="myquizzy myquizzy.com quizz">
          <span class="card-title">Regarde les résultats</span>
          <a class="btn-floating halfway-fab waves-effect waves-light background-gradient-invert">4</a>
        </div>
      </div>
    </div>
  </div>

</app-header>


<app-modal-register [modal]="modal"></app-modal-register>
