<ng-container *ngIf="!myQuizz">
    <ul class="collection allanswers z-depth-3" *ngIf="allAnswer && allAnswer.length > 0">
        <div class="title-page ">
            <div class="left">{{ 'quizz.ranking' | translate }}</div>
            <div class="right buttons">
                <button class="btn {{elm == 'date' ? 'sel' : ''}}" (click)="sortBy('date')">
                    <fa-icon *ngIf="!asc.date" [icon]="faSortAmountDown"></fa-icon>
                    <fa-icon *ngIf="asc.date" [icon]="faSortAmountUp"></fa-icon>
                </button>
                <button class="btn {{elm == 'alpha' ? 'sel' : ''}}" (click)="sortBy('alpha')">
                    <fa-icon *ngIf="!asc.alpha"  [icon]="faSortAlphaDown"></fa-icon>
                    <fa-icon *ngIf="asc.alpha"  [icon]="faSortAlphaUp"></fa-icon>
                </button>
                <button class=" btn {{elm == 'top' ? 'sel' : ''}}" (click)="sortBy('top')" >
                    <fa-icon *ngIf="!asc.top"  [icon]="faSortNumericDown"></fa-icon>
                    <fa-icon *ngIf="asc.top"  [icon]="faSortNumericUp"></fa-icon>
                </button>
            </div>
        </div>
        <li class="collection-item avatar" *ngFor="let answer of allAnswer">

            <img *ngIf="answer.user_id" src="{{getAvatar(answer.user_id)}}" alt="img avatar {{answer.username}}" [routerLink]="['/profile/'+answer.user_id]" class="circle">
            <img *ngIf="!answer.user_id" src="../assets/images/android-icon-144x144.png" alt="img avatar {{answer.username}}" class="circle">


            <span class="title">{{answer.username}}</span>
            <p> {{ 'quizz.score' | translate }} {{returnResult(answer)}}%<br>
            </p>
        </li>
    </ul>
</ng-container>

<ng-container *ngIf="myQuizz">
    <materialize-accordion>
          <materialize-collapsible *ngFor="let answer of allAnswer">
            <materialize-collapsible-title class="valign-wrapper">
        <img *ngIf="answer.user_id" src="{{getAvatar(answer.user_id)}}" alt="img avatar {{answer.username}}" [routerLink]="['/profile/'+answer.user_id]" class="circle">
        <img *ngIf="!answer.user_id" src="../assets/images/android-icon-144x144.png" alt="img avatar {{answer.username}}" class="circle">
        <span class="title">{{answer.username}} - {{ 'quizz.score' | translate }} {{returnResult(answer)}}%</span>

        </materialize-collapsible-title>
                <materialize-collapsible-content>
            <ul>
                <li *ngFor="let r of answer.questions">
                    {{r.name}} :  <span class="{{r.answer.rep ? 'green-text' : 'red-text'}}">{{r.answer.name}}</span>
                </li>
            </ul>
        </materialize-collapsible-content>
          </materialize-collapsible>
    </materialize-accordion>
</ng-container>

<div class="empty col s12" *ngIf="allAnswer?.length < 1">
    {{ "quizz.noone" | translate }} <br>
    <i class="material-icons">
        error_outline
    </i>
</div>