<ng-container *ngIf="modal">
    <div class="overlay" (click)="closeModal()" *ngIf="modal"></div>

    <div class="modal-connexion modal" *ngIf="modal">
        <div class="modal-content">
            <h4>{{ 'modal.title' | translate }}</h4>
            <p>{{ 'modal.description' | translate }}</p>
            <p class="center-align hide-on-med-and-down">
                <a href="{{environment.baseUrl}}auth/facebook">
                <button class="loginBtn loginBtn--facebook">
                    {{ 'home.connection' | translate }} via Facebook
                </button>
            </a>
                <a href="{{environment.baseUrl}}auth/twitter">
                    <button class="loginBtn loginBtn--twitter">
                        {{ 'home.connection' | translate }} via Twitter
                    </button>
                </a>
                <a href="{{environment.baseUrl}}auth/google">
                    <button class="loginBtn loginBtn--google">
                        {{ 'home.connection' | translate }} via Google
                    </button>
                </a>
            </p>
            <p class="center-align hide-on-large-only">
                <a href="{{environment.baseUrl}}auth/facebook">
                    <button class="loginBtn loginBtn--facebook">
                        via Facebook
                    </button>
                </a>
                <a href="{{environment.baseUrl}}auth/twitter">
                    <button class="loginBtn loginBtn--twitter">
                        via Twitter
                    </button>
                </a>
                <a href="{{environment.baseUrl}}auth/google">
                    <button class="loginBtn loginBtn--google">
                        via Google
                    </button>
                </a>

                <!--  <a href="{{environment.baseUrl}}auth/instagram">
                    <button class="loginBtn loginBtn&#45;&#45;instagram">
                      via Instagram
                    </button>
                  </a>-->
            </p>
            <p class="center-align">
                {{  'modal.accept1' | translate }} <a routerLink="'/terms'">{{ 'word.terms' | translate }}</a> {{ 'modal.accept2' | translate  }} <a routerLink="'/privacy'">{{ 'word.privacy' | translate }}</a>
            </p>
        </div>
    </div>

</ng-container>